@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
/* 자동 완성 시 input 태그 백그라운 색이 바껴서 비활성화 시킴 */
